<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.emiliedoyle.peer_mentoring_app">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/Theme.AppCompat">
        <activity
            android:name=".LoginActivity"
            android:label="@string/title_activity_login"
            android:theme="@style/Theme.AppCompat">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".StudentMainActivity"
            android:label="@string/title_activity_student_main">

            <!--
            <intent-filter>
                <action android:name="com.example.emiliedoyle.peer_mentoring_app.StudentMainActivity" />
                    <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
            -->
        </activity>
        <activity
            android:name=".FindActivity"
            android:label="@string/title_activity_find"></activity>
        <activity
            android:name=".MenteeManageProfileActivity"
            android:label="@string/title_activity_mentee_manage_profile"></activity>
        <activity
            android:name=".MenteeYourConnectionsActivity"
            android:label="@string/title_activity_mentee_your_connections"></activity>
        <activity
            android:name=".MenteeSearchResultsActivity"
            android:label="@string/title_activity_mentee_search_results"></activity>
        <activity
            android:name=".MenteeRegisterActivity"
            android:label="@string/title_activity_mentee_register"></activity>
        <activity
            android:name=".MentorProfileActivity"
            android:label="@string/title_activity_mentor_profile"></activity>
        <activity
            android:name=".MenteeRequestMentorNotificationActivity"
            android:label="@string/title_activity_mentee_request_mentor_notification"></activity>
        <activity
            android:name=".MenteeFindOptionsActivity"
            android:label="@string/title_activity_mentee_find_options"></activity>
        <activity
            android:name=".MenteeYourMatchesActivity"
            android:label="@string/title_activity_mentee_your_matches"></activity>
        <!--
             ATTENTION: This was auto-generated to add Google Play services to your project for
             App Indexing.  See https://g.co/AppIndexing/AndroidStudio for more information.
        -->
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <activity
            android:name=".AdminMainActivity"
            android:label="@string/title_activity_admin_main"></activity>
        <activity
            android:name=".AdminAddMentorActivity"
            android:label="@string/title_activity_admin_add_mentor"></activity>
        <activity
            android:name=".AdminAddMentorConfirmationActivity"
            android:label="@string/title_activity_admin_add_mentor_confirmation"></activity>
        <activity
            android:name=".AdminManageConnectionsActivity"
            android:label="@string/title_activity_admin_manage_connections"></activity>
        <!--
        <activity
            android:name=".AdminManageMentorsActivity"
            android:label="@string/title_activity_admin_manage_mentors" >
        </activity>
        -->
        <activity
            android:name=".AdminManageMentorsOptionsActivity"
            android:label="@string/title_activity_admin_manage_mentors_options"></activity>
        <activity
            android:name=".MenteeSearchByAttributeActivity"
            android:label="@string/title_activity_mentee_search_by_attribute"></activity>
        <activity
            android:name=".MenteeUpdatedProfileMessageActivity"
            android:label="@string/title_activity_mentee_updated_profile_message"></activity>
        <activity
            android:name=".MenteeAttributeSearchResultActivity"
            android:label="@string/title_activity_mentee_attribute_search_result"></activity>
    </application>

</manifest>
