<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.emiliedoyle.peer_mentoring_app_frontend" >

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".LoginActivity"
            android:label="@string/title_activity_login" >
        </activity>
        <activity
            android:name=".StudentMainActivity"
            android:label="@string/title_activity_student_main" >
        </activity>
        <activity
            android:name=".FindActivity"
            android:label="@string/title_activity_find" >
        </activity>
        <activity
            android:name=".MenteeManageProfileActivity"
            android:label="@string/title_activity_mentee_manage_profile" >
        </activity>
        <activity
            android:name=".MenteeYourConnectionsActivity"
            android:label="@string/title_activity_mentee_your_connections" >
        </activity>
        <activity
            android:name=".MenteeSearchResultsActivity"
            android:label="@string/title_activity_mentee_search_results" >
        </activity>
    </application>

</manifest>
